.dbpt {
    /* This hides all 'More', 'Tweets' and 'See also Mediagazer' information on the page */
    display: none;
}

.techmemeless {
    color: #888 !important;
    padding-left: 10px !important;
    cursor: pointer !important;
    white-space: nowrap;
    float: right;
    font-size: 0.8em;
}

.techmemeless:hover {
    text-decoration: underline !important;
    background: none !important;
}

.techmemeless-button {
    color: #ddd;
    padding-left: 2px !important;
    padding-right: 2px !important;
    cursor: pointer;
}

.techmemeless-button:hover {
    color: #fff;
    background:#578aa1;
}
