<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Extension Updates</key>
  <array>
    <dict>
      <key>CFBundleIdentifier</key>
      <string>com.madlid.techmeme-less</string>
      <key>DeveloperIdentifier</key>
      <string>9SH7KUFA88</string>
      <key>CFBundleVersion</key>
      <string>1.1.1</string>
      <key>CFBundleShortVersionString</key>
      <string>1.1.1</string>
      <key>URL</key>
      <string>http://madlid.com/techmeme/techmeme-less.safariextz</string>
    </dict>
  </array>
</dict>
</plist>
